@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap');
:root {
    --primary-color: rgb(20, 12, 12);
    --text-color: rgb(44, 40, 40);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: url('../img/429802.jpg') no-repeat;
    background-size: 100% 100%;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.player .icon-pause {
    display: none;
}
.player.playing .icon-pause {
    display: inline-block;
}
.player.playing .icon-play {
    display: none;
}
.dashboard {
    border-radius: 3px;
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}
.back-icon {
    position: absolute;
    z-index: 10;
    float: left;
    font-size: 24px;
}
#back-icon{
    color: var(--primary-color);
}
#back-icon:hover{
    opacity: 0.8;
}
header {
    text-align: center;
    margin-bottom: 10px;
}
header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}
.cd {
    display: block;
    width: 200px;
    margin: auto;
}
.cd-thumb {
    padding-top: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0 10px 0;
}
.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
}

.control .btn.active {
     color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 55px;
    height: 55px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-random.active,
.btn-repeat.active {
    color: var(--primary-color);
}
.time-progress {
    float: left;
}
.music-duration {
    float: right;
    right: 16px;
}
.time-count {
    bottom: 12px;
    font-weight: 500;
    position: absolute;
    font-size: 13px;
}
.progress {
    padding: 3px 0;
    border-radius: 3px;
    margin: 0px 39px;
    cursor: pointer;
    width: 82%;
    overflow: hidden;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: all 0.3s;
}
.progress:hover {
    padding: 5px 0;
    box-shadow: 0px 1px 3px 1px;
}
.progress:hover::-webkit-slider-thumb {
    background: var(--primary-color);
    box-shadow: -500px 0 0 500px var(--primary-color);
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 12px;
    height: 6px;
    background: var(--primary-color);
    box-shadow: -500px 0 0 500px var(--primary-color);
}
.playlist {
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 395px;
    cursor: pointer;
}
.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
.song.active {
    background-color: var(--primary-color);
}
.song:active {
    opacity: 0.8;
}
.song.active .title,
.song.active .author,
.song.active .option {
    color: #fff;
}
.song .thumb {
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 8px;
}
.song .body {
    flex: 1;
    padding: 0 16px;
}
.song .title {
    margin-bottom: 4px;
    font-size: 18px;
    color: var(--text-color);
}
.song .author {
    font-size: 12px;
    color: rgb(76, 68, 68);
}
.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

